<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title></title>
	</head>
	<body>
        <table border="1">
	    <tr><td><a href="/">top</a></td>
	    </tr>
            {% for item in data %}
            <tr>
                <td>
			번호: {{item['num']}}<br>
			출처: {{item['src']}}<br>
			색인: {{item['bid']}}<br>
			갱신: {{item['update_date']}}<br>
			순위: {{item['ranking']}}<br>
			링크: {{item['link']}}<br>
			사진: {{item['thumbnail']}}<br>
			제목: {{item['title']}}<br>
			작가: {{item['author']}}<br>
			출판: {{item['publisher']}}<br>
			요약: {{item['summary']}}<br>
			초판: {{item['publication_date']}}<br>
			기록: {{item['posted']}}<br>
		</td>
            </tr>
	    {% endfor %}
	</table>
	</body>
</html>
